/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =======
form
======= */
.form-banner img {
  height: 100%;
  width: 100%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* ==========
===== loader
========= */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
==============
==== navbar
==============
*/
.navbar {
  background-color: #2d4356 !important;
  color: wheat !important;
  border: 1px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link,
.navbar-brand {
  background-color: #2d4356 !important;
  color: wheat !important;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder !important;
}
.btn-danger {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ==========
====== button
======== */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* =======
=== Table homepage
=======*/
.tableClass {
  border: 2px solid grey;
}

.card-main {
  border: 2px solid black;
  --translate: 0 !important;
  transition: width 1s, height 1s, background-color 1s, rotate 1s !important;
  /* rotate: 10deg; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.card-main:hover {
  box-shadow: 10px 20px 5px#94aef6 !important;
  background-color: rgb(245, 215, 179) !important;
  cursor: pointer;
  /* transition: margin-right 0.5s ease-out !important; */
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 4px solid black;
}
.card-title {
  border: 1px solid gray;
  border-radius: 10px;
}
.card-footer {
  border-radius: 10px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.table-class {
  justify-content: center;
  margin-left: 145px;
  width: 80%;
}

td {
  font-weight: lighter !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.anc {
  text-decoration: none;
  color: black;
}
.text-success {
  padding: 5px;
}
